<div class="admin_top">
  <div class="container">
    <h2 class="">管理者画面</h2>
    <div class="row">
      <h3 class="ml-5">本日のお問い合わせ　　<%= link_to @contacts.count, admin_today_path %>件</h3>
    </div>
  </div>
</div>
