<%= stylesheet_link_tag 'contact' %>

<div class="form_page">
  <div class="container">
    <h2 class="done-message">フォームの送信に成功しました。</h2>
    <%= link_to "トップに戻る", root_path, class:"back-btn" %>
  </div>
</div>
