<div class="about_page">
  <h2>会社概要</h2>
  <table>
    <tbody>
      <tr>
        <td>会社名</td>
        <td>株式会社プライムワン</td>
      </tr>
      <tr>
        <td>創業</td>
        <td>２００７年８月</td>
      </tr>
      <tr>
        <td>資本金</td>
        <td>1,000,000円</td>
      </tr>
      <tr>
        <td>代表取締役</td>
        <td>岡田　隆</td>
      </tr>
      <tr>
        <td>本社所在地</td>
        <td>〒629-0153<br>京都府南丹市八木町八木嶋町ノ坪11-1</td>
      </tr>
      <tr>
        <td>京都営業所</td>
        <td>〒615-0841<br>京都府京都市右京区西京極火打畑町4</td>
      </tr>
      <tr>
        <td>事業内容</td>
        <td>
          人材派遣業<br>
          各種請負業<br>
          webサイト制作<br>
        </td>
      </tr>
    </tbody>
  </table>
</div>
