<div class="access_page">
  <h2>アクセス</h2>
  <div class="maps">
    <h3>プライムワン本社</h3>
    <div class="map-01" id='map-01'></div>
    <div class="row map01">
      <table>
        <tbody>
          <tr>
            <td>所在地</td>
            <td>〒629-0153<br>京都府南丹市八木町八木嶋町ノ坪11-1</td>
          </tr>
          <tr>
            <td>TEL</td>
            <td>0771-43-2088</td>
          </tr>
          <tr>
            <td>FAX</td>
            <td>0771-42-4211</td>
          </tr>
          <tr>
            <td>営業時間</td>
            <td>月～金曜日／9：00～17:00</td>
          </tr>
          <tr>
            <td>定休日</td>
            <td>土・日・祝</td>
          </tr>
          <tr>
            <td>最寄駅</td>
            <td>JR嵯峨野線 八木駅</td>
          </tr>
        </tbody>
      </table>
    </div>
    <h3>京都営業所</h3>
    <div class="map-01" id='map-02'></div>
    <table>
      <tbody>
        <tr>
          <td>所在地</td>
          <td>〒615-0841<br>京都府京都市右京区西京極火打畑町4</td>
        </tr>
        <tr>
          <td>TEL</td>
          <td>075-874-3587</td>
        </tr>
        <tr>
          <td>FAX</td>
          <td>075-311-5420</td>
        </tr>
        <tr>
          <td>営業時間</td>
          <td>月～金曜日 / 9：00～17:00</td>
        </tr>
        <tr>
          <td>定休日</td>
          <td>土・日・祝日</td>
        </tr>
        <tr>
          <td>最寄駅</td>
          <td>JR嵯峨野線 八木駅</td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
