<div class="privacy_policy_page">
  <h2>プライバシーポリシー</h2>
  <p>個人情報の取り扱いについて<br>
  <br>
  個人情報とは、個人に関する情報であり、氏名、生年月日、性別、電話番号、電子メールアドレス、<br>
  職業、勤務先等、特定の個人を識別し得る情報をいいます。<br>
  <br>
  （個人情報の収集・利用）<br>
  当社は、以下の目的のため、その範囲内においてのみ、個人情報を収集・利用いたします。<br>
  当社による個人情報の収集・利用は、お客様の自発的な提供によるものであり、<br>
  お客様が個人情報を提供された場合は、当社が本方針に則って個人情報を利用する<br>
  ことをお客様が許諾したものとします。<br>
  ①ご注文された当社の商品をお届けするうえで必要な業務<br>
  ②新商品の案内など、お客様に有益かつ必要と思われる情報の提供<br>
  ③業務遂行上で必要となる当社からの問い合わせ、確認、およびサービス向上のための意見収集<br>
  ④各種のお問い合わせ対応<br>
  ⑤弊社の広告宣伝またはマーケティングなど<br>
  ・お客様へ各種メールマガジンなどの情報提供。<br>
  ・当社からお客様へ電話・ダイレクトメールにて、商品・サービス提供などのご案内。<br>
  ・お客様によるサービスの利用を分析し、サービスの改善を図る為。<br>
  <br>
  （個人情報の第三者提供）<br>
  当社は、法令に基づく場合等正当な理由によらない限り、事前に本人の同意を得ることなく、<br>
  個人情報を第三者に開示・提供することはありません。<br>
  <br>
  （委託先の監督）<br>
  当社は、お客様へ商品やサービスを提供する等の業務遂行上、個人情報の一部を外部の委託先へ<br>
  提供する場合があります。その場合、業務委託先が適切に個人情報を取り扱うように管理いたします。<br>
  <br>
  （個人情報の管理）<br>
  <br>
  当社は、個人情報の漏洩、滅失、毀損等を防止するために、個人情報保護管理責任者を設置し、<br>
  十分な安全保護に努め、また、個人情報を正確に、また最新なものに保つよう、お預かりした<br>
  個人情報の適切な管理を行います。<br>
  <br>
  （情報内容の照会、修正または削除）<br>
  当社は、お客様が当社にご提供いただいた個人情報の照会、修正または削除を希望される場合は、<br>
  ご本人であることを確認させていただいたうえで、合理的な範囲ですみやかに対応させていただきます。<br>
  </p>
</div>
