<div class="top">
  <div class="row main_text">
    <h1>あなたの新たな一歩の手助けを</h1>
  </div>
  <div class="service_space">
    <h2>Service</h2>
    <div class="row service_contents">
      <div class="col-6 service_img">

      </div>
      <div class="col-6 service_text">

      </div>
    </div>
    <div class="row service_contents">
      <div class="col-6 service_text">

      </div>
      <div class="col-6 service_img">

      </div>
    </div>
  </div>
  <div class="map_space">
    <h2>Location</h2>
    <div class="row">
      <div class="col-6">
        <h3>プライムワン本社</h3>
        <table>
          <tbody>
            <tr>
              <td　colspan="2"><div class="map-01" id='map-01'></div></td>
            </tr>
            <tr>

            </tr>
          </tbody>
        </table>
        <div class="info">
        </div>
        <style>
          #map-01{
            height: 400px;
            width: 700px;
            margin: 0 auto;
          }
        </style>
      </div>
      <div class="col-6">
        <h3>プライムワン　京都営業所</h3>
        <div class="map-01" id='map-02'></div>
        <style>
          #map-02{
            height: 400px;
            width: 700px;
            margin: 0 auto;
          }
        </style>
      </div>
    </div>
  </div>
</div>
