// Place all the styles related to the home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.map-01{
  height: 400px;
  width: 700px;
  margin: 0 auto;
}


.map-02{
  height: 400px;
  width: 700px;
  margin: 0 auto;
}
