// Place all the styles related to the home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.map-01{
  height: 400px;
  width: 700px;
  margin: 0 auto;
}


.map-02{
  height: 400px;
  width: 700px;
  margin: 0 auto;
}

.top_img{
  background-image: image-url("top_img.jpg");
  background-size: cover;
  height: 90vh;
}

.each_title{
  font-family: CaviarDreams;
  text-align: center;
  margin-top: 10px;
  margin-bottom: 10px;
}

.btn-contact{
  border: solid 1px #3E3E3E;
  border-radius: 300px;
  padding: 0.7rem 1rem;
  transition: 0.3s;
}

.btn-down{
  margin-top: 80vh;
  text-align: center;
}

.fa-angle-double-down{
  font-size: 44px;
  color: #3E3E3E;
}
